In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://movie.daum.net/ranking/reservation'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

ol = soup.select_one('.list_movieranking')

li_list = ol.find_all('li')

movie = []

for li in li_list:
    rank = li.select_one('.rank_num').text
    name = li.select_one('.link_txt').text
    see = li.select_one('.ico_see').text
    grade = li.select_one('.txt_grade').text
    num = li.select_one('.txt_num').text[:-1] #.text[:-1] 처음부터 마지막 문자열 제외까지(-> 마지막 문자열 제거용)
    mvdate = li.select_one('.txt_info > .txt_num').text
    movie.append([rank, name, see, grade, num, mvdate])

#Data Frame으로 data를 바꿔서 사용
df = pd.DataFrame(movie, columns=['순위', '영화명', '관람가', '평점', '예매율', '개봉일'])
df.to_csv('movie_info.csv', index=False, encoding='cp949')

df = pd.read_csv('movie_info.csv', encoding='cp949')
df.sort_values('평점', ascending=False)

df['개봉일'] = pd.to_datetime(df['개봉일'], format="%y.%m.%d")
df.head()

   순위                 영화명       관람가   평점   예매율        개봉일
0   1                엘리멘탈     전체관람가  8.6  25.0 2023-06-14
1   2               범죄도시3  15세이상관람가  6.6  16.1 2023-05-31
2   3  스파이더맨: 어크로스 더 유니버스     전체관람가  8.6  15.7 2023-06-21
3   4                 귀공자   청소년관람불가  8.3  12.7 2023-06-21
4   5    인디아나 존스: 운명의 다이얼  12세이상관람가  8.9   9.3 2023-06-28